/*
#CSS
Cascading Stylesheet

---

## O que é CSS

- Folha de estilos em cascata
- Propriedades e valor
- Estilos para o HTMl
- Arquivos '.css'

# Anatomia 

- Declarações 
- Seletor
- {} Contexto
- Propriedades
- Valor das Propriedades

*/

h1 {
    color: blue;
    font-size: 60px;
    letter-spacing: 2;
    text-transform: uppercase;
}

/*
# Em Cascata 

- Cascata
- Hierarquia de Regras

*/

p {
    color: violet;
}

.yellow {
    color: yellow;
}

/*
#Especificações 

- Cada Seletor tem um peso
- Soma dos pesos faz a declaração ser aplicada

#id - 100
.class -10
element - 1

*/

p#text.green{
    color: black;
}

#text {
    color: blue;
}

.green{
    color: green;
}

p {
    color: red;
}

/*
Mais Especifico

- Style (Não é interessante usar)
- !important (Não é interessante usar)

*/

#title{
    font-size: 12px !important;
}

/*
#Valores e unidades de medidas

Cada propriedade possui valores
'property: value'

<data-type>

>Estudo constante a fim de entender as propriedades e seus valores



h2 {
    color: blue;  /color/ 
    font-size: 32px;  /length/ 
    letter-spacing: 2; /number/
    text-transform: uppercase; /keyword/
}
*/

/*
Seletores

- type | element  tag
- id
- class
- atributo
-universal

*/

/*
Combinators 

- Descendent
  artice p
- List
  span, mark
- Next sibling
  h2 + p
- Child
  aside > ul

*/

article p {
    color: red;
}

span, mark{
    color: rgb(29, 182, 50);
}

h2 + p {
    color: brown;
}


aside > ul {
    margin-top: 60px;
}
